

h1 {
    color: rgb(255, 255, 255);;
    }

    .section {
    margin-bottom: 5px;
    padding-bottom: 5px;
    }
    
    * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body, html {
  height: 100%;
  font-family: sans-serif;
}

body {
  background-color: #e7f6fd;
}


/* Хедер */
.gallery-header {
  background-color: #22232a; /* Полупрозрачный */
  color: white;
  padding: 20px 0;
  z-index: 10;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Хедер */
.register-header {
  background-color: #22232a; /* Полупрозрачный */
  color: white;
  padding: 20px 0;
  z-index: 10;
}

.logo {
  font-size: 24px;
}

.main-nav a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

/* Первый блок с фоном */
.hero-section {
  height: 100vh;
  background: url('https://www.nure.info/uploads/posts/2017-06/1498296081_sportivnyy-klub-sportivnye-sekcii-v-hnure-sekciya-borba-dzyu-do.jpg') center center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-content {
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7); /* затемнение под текстом */
  padding: 40px;
  border-radius: 10px;
}

.desc-content{
    margin: 30px 20px 30px 20px;
    padding: 30px;
    box-shadow: 0 0 10px 5px rgb(182, 182, 182);
    border-radius: 20px;
}
    h2 {
        color: #000000;
    }
    h3 {
        color: #000000;
    }

    h4 {
        color: #000000;
    }

    p {
        color:  #000000 ;
    }


 img {
    width: 500px;
    height: 300px;

 }

 ul {
    color: rgb(0, 0, 0);
 }

 table {
    color: #000000
 }

 img{
    opacity:0.5;
 }
 
 img:hover {
    opacity: 1;
 }

 p {
  color: #000000;
 }


 body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

h1, h2, h3, h4 {
    color: #ffffff;
    margin-bottom: 10px;
}


.info-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


/* Стили для секций */
section {
    padding: 20px;
    background-color: white;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
    margin-top: 0;
    color: #e74c3c;
}

table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: #3498db;
    color: white;
}


a:hover {
    color: #2c3e50;
    text-decoration: underline;
}

h1, h2, h3, h4 {
    color: #2c3e50;
    margin-bottom: 10px;
}

.gallery-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}


p {
    font-size: 18px;
    color: #333;
    text-align: center;
    margin: 20px 0;
}


img:hover {
    color: #2c3e50;
    text-decoration: underline;
}
